


{% block body %}

    <div>Contact effectu par {{lastName}} {{firstName}} </div>
    <div>phone contact : {{phone}} </div>
    <div>ville contact: {{city}} </div>
    <div>Contenu: {{content}} </div>
    

{% endblock %}